/* css file  */
body {
     position: relative;
}
.light_mode {
     background-color: #ddddddd7;
}
.white_mode {
     background-color: #ffffbed0;
}
* {
     box-sizing: border-box;
}
.bulb_container {
     width: 98%;
     margin: auto;
     display: flex;
     justify-content: right;
     overflow: hidden;
     z-index: 20;
}
.bulb_container .bulb_img {
     width: 40px;
     height: 60px;
     transform: rotate(-110deg);
}
.bulb_btn {
     position: absolute;
     top: 100px;
     right: 1%;
     display: flex;
     justify-content: center;
     z-index: 10;
     background-color: rgb(41, 83, 83);
     padding: 5px;
     border-radius: 10px;
}
.bulb_btn img {
     width: 60px;
     border-radius: 90px;
     cursor: pointer;
}
/* fan container  */
.container {
     display: flex;
     justify-content: center;
     width: 400px;
     position: relative;
     margin: auto;
     text-align: center;
}
.fan_image {
     width: 300px;
}
/* for start fan */
.container .on {
     animation: rotation 250ms linear infinite;
}
.container .normal {
     animation: rotation 300ms linear infinite;
}
.container .middle {
     animation: rotation 180ms linear infinite;
}.container .high {
     animation: rotation 50ms linear infinite;
}
/* for infinite fan running */
@keyframes rotation {
     from {
     transform: rotate(0deg);
     }
     to {
     transform: rotate(360deg);
     }
}
.stand {
     width: 400px;
     height: 400px;
     position: absolute;
     top: 110px;
     z-index: -5;
}
.stand img {
     width: 100%;
}
.buttons button {
     width: 50px;
     height: 30px;
     border-radius: 5px;
     background-color: blueviolet;
     cursor: pointer;
     font-weight: 600;
     color: #fff;
}

.buttons {
     position: absolute;
     bottom: -170px;
     background-color: rgb(41, 83, 83);
     padding: 5px;
     border-radius: 10px;
}
.buttons button:hover {
     background-color: #fff;
     color: blueviolet;
}
.buttons .style {
     background-color: limegreen;
}
.buttons .style:hover {
     background-color: #fff;
     color: limegreen;
}
.buttons .style2 {
     background-color: lightcoral;
}
.buttons .style2:hover {
     background-color: #fff;
     color: lightcoral;
}
/* Media Query  */
@media (max-width:440px) {
     .container {
          width: 98%;
     }
     .fan_image {
          width: 200px;
     }
     .stand {
          width: 250px;
          height: 240px;
          top: 90px;
     }
     .buttons {
          width: 180px;
          bottom: -118px;
          padding: 2px;
     }
     .buttons button {
          width: 40px;
     }
     .bulb_container {
          justify-content: left;
     }
     .bulb_container .bulb_img {
          width: 38px;
          height: 58px;
          transform: rotate(110deg);
     }
     .bulb_btn {
          top: 15px;
          padding: 3px;
     }
     .bulb_btn img {
          width: 50px;
     }
}